# AllHosts Profile
profile.ps1

**\profile.ps1
profile.ps1\
profile.ps1\*

**/profile.ps1
profile.ps1/
profile.ps1/*

# CurrentHost Profile
Microsoft.PowerShell_profile.ps1

**\Microsoft.PowerShell_profile.ps1
Microsoft.PowerShell_profile.ps1\
Microsoft.PowerShell_profile.ps1\*

**/Microsoft.PowerShell_profile.ps1
Microsoft.PowerShell_profile.ps1/
Microsoft.PowerShell_profile.ps1/*
